        <nav class="navbar navbar-dark bg-primary" style="position: fixed;left: 0; bottom: 0;width: 100%; ">
            <span class="navbar-brand" style="color:#fff;text-align: center;">&copy; Rasel Mahmud Ratan - <%= moment().format('YYYY') %></span>
        </nav>
    </body>
</html>