<html>
    <head>
        <title><%= siteTitle %> - <%= pageTitle %></title>
        <% include ../partials/head %>
        <style>
            *{border-radius: 0px !important;overflow-x: hidden!important;}
        </style>
    </head>
    <body>
        <% include ../partials/navbar %>